<mat-toolbar class="mat-elevation-z8"  color="primary">
  <button mat-icon-button class="example" aria-label="Example icon-button with menu icon">
    <mat-icon>M</mat-icon>
  </button>
  <span>Clientes</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>Fav</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>Sh</mat-icon>
  </button>
</mat-toolbar>

